h1 {
  text-align: center;
}
h3 {
  padding: 30px;

  text-align: center;
}
.title-wrapper {
  font-weight: bold;
}
.country-detail {
  max-width: 25rem;
  min-width: 25rem;
  text-align: center;
  margin: 0.5rem;
  padding: 2rem;
  border-radius: 0.2rem;
  background: #fff;
  box-shadow: 5px 3px 3px #ddd;
}
.app-wrapper {
  background: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: center;
  margin: 1rem 0 3rem;
}
.image-pic {
  height: 12rem;
  width: 20rem;
  text-align: center;
  margin: auto;
}
img {
  border-style: none;
  height: 150px;
  box-shadow: 5px 3px 3px #ccc;
}

.details {
  padding: 10px;
  margin: 15px;
}
